<div class="bootstrap-iso ng-scope">
    <back-btn title="Back to Plan Years List" link="listAdminYears"></back-btn>
    <div class="row">
        <div class="col-md-3">
            <admin-menu menu-items="ctrl.links"></admin-menu>
        </div>
        <div class="col-md-9">
            <div class="admin-body">
                <div class="panel panel-info">
                    <div class="panel-heading pnl-heading">{{ctrl.action == 'add' ? 'ADD' : 'EDIT'}} PLAN YEAR INFORMATION</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Plan Year: <span class="asteriskField">*</span></label>
                                    <input class="form-control"
                                           type="text"
                                           ng-model="ctrl.year.title"
                                           ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control" ng-model="ctrl.year.startdate" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control" ng-model="ctrl.year.enddate" />
                                </div>
                                <div class="form-group settings">
                                    <label class="control-label">Active Year?</label>
                                    <div class="form-control">
                                        <i class="fa fa-toggle-on active" ng-if="ctrl.year.active" ng-click="ctrl.changeStatus()"></i>
                                        <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="!ctrl.year.active" ng-click="ctrl.changeStatus();"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer clearfix">
                        <div class="form-group pull-right">
                            <a href="" class="btn btn-success" ng-click="ctrl.AddRecord()">
                                <i class="fa fa-save"></i> {{  ctrl.action == 'edit' ? 'Update': 'Add' }} Record
                            </a>
                            <a href="#listAdminYears" class="btn btn-warning ">
                                <i class="fa fa-cut"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>