<div class="col-md-12">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{output.update ? "Update": "Add"}} Target Output</h3>
        </div>
        <form method="post" name="frm" novalidate>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="span-border">
                            <label class="control-label">Target Details:</label>
                            <span class="form-control-static"> {{output.target.target}}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="span-border">
                            <label class="control-label">Year:</label>
                            <span class="form-control-static"> {{output.target.year.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="control-label">Output:</label>
                            <textarea class="form-control" rows="4" ng-model="output.output" required></textarea>                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Lead Team:</label>
                            <select ng-model="output.leadteam" ng-options="x.title for x in output.teams track by x.id" class="select form-control" required>
                                <option value="" class="" selected="selected">-- Choose Lead Team --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Individual Responsible: <span class="asteriskField">*</span></label>
                            <div>
                                <sp-people-picker name="contractmanagers"
                                                  ng-model="output.individual"
                                                  max-entries="1"
                                                  allow-duplicates="false"
                                                  show-login="false"
                                                  show-title="true"
                                                  min-characters="3"
                                                  min-entries="1"
                                                  app-web-url="output.hostWebUrl" />
                            </div>
                            <div ng-if="output.update">
                                <div class="badge">
                                    <span>{{ output.individual.title }}</span>
                                    <div class="btn btn-xs btn-danger" ng-click="ctrl.removeIndividual(output.individual)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label requiredField">Other Teams Required:<span class="asteriskField">*</span></label>
                            <div ng-dropdown-multiselect="" options="output.teams" selected-model="output.otherteams" extra-settings="ctrl.config"></div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label requiredField">Status:<span class="asteriskField">*</span></label>
                            <select ng-model="ctrl.status"
                                    ng-options="x for x in output.statuses"
                                    class="select form-control">
                                <option value="" class="" selected="selected">-- Select Status --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div>
                        <button class="btn btn-success " name="submit" type="submit" ng-click="submit(frm, output);" ng-disabled="!frm.$valid">
                            {{output.update ? "Update": "Add"}} and close
                        </button>
                        <button class="btn btn-warning " name="submit" type="submit" ng-click="cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>